{% extends "base.html" %}
{% load staticfiles %}
{%block head%}
<link rel="stylesheet" type="text/css" href="{% static 'main2.css' %}" />
{%endblock head%}
{%block content%}
<style type="text/css">
.content{
    color:white;
}
body {
background-color: #F8F8F8;
}
body > .grid {
height: 100%;
}
.image {
margin-top: -100px;
}
.column {
max-width: 1000px;
}
</style>
<script>
    $(document)
        .ready(function() {
            $('.ui.form')
                .form({
                    fields: {
                        course_name: {
                            identifier: 'course_name',
                            rules: [{
                                type: 'empty',
                                prompt: 'Please enter the course name'
                            }]
                        },

                        feedback: {
                            identifier: 'feedback',
                            rules: [{
                                type: 'empty',
                                prompt: 'Please enter the feedback'
                            }]
                        }, 
                    }
                });
        });
</script>
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui image header">
      <div class="content">
      Post your review:
      </div>
      </h2>
      <form class="ui large form" method="post" action = "">
        {%csrf_token%}
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left labeled input">
              <div class = "ui label">Course Name</div>
              <input type="text" name="course_name" placeholder="Course Name">
            </div>
          </div>
          <div class="field">
            <div class="ui left labeled input">
              <div class = "ui label">Feedback</div>
              <input type="text" name="feedback" placeholder="Feedback">
            </div>
          </div>


          <div class="ui fluid large orange submit button">Submit!</div>
        </div>
        <div class="ui error message"></div>
      </form>
    </div>
</div>
{%endblock content%}

